<div class="evento-container">
  <!-- Título del Evento -->
  <div class="evento-titulo">
    <h1>{{ evento?.documentName }}</h1>
  </div>

  <!-- Imagen Principal -->
  <div class="evento-imagen">
    <img id="imagenes" mat-card-image [src]="evento?.eventImageUrl || randomDefaultImage" alt="{{ 'Imagen' | translate }}">
  </div>

  <!-- Descripción -->
  <div class="evento-descripcion">
    <h2>{{ "descripcion" | translate }}</h2>
    <p>{{ evento?.documentDescription }}</p>
  </div>

  <!-- Datos del evento -->
  <div class="evento-datos">
    <h3>{{ "datosEvento" | translate }}</h3>
    <ul>
      <li><strong>{{ "fechaInicio" | translate }}:</strong> {{ evento?.eventStartDate }}</li>
      <li><strong>{{ "fechaFin" | translate }}:</strong> {{ evento?.eventEndDate }}</li>
      <li><strong>{{ "ubicacion" | translate }}:</strong> {{ evento?.municipality }}</li>
    </ul>
  </div>

  <!-- Mapa -->
  <div class="evento-mapa">
    <div id="mapa"></div>
  </div>
</div>
