<div class="container mt-4">
    <div class="text-center mb-4">
      <h2>{{ evento?.documentName }}</h2>
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>{{ "datosEvento" | translate }}</h4>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>{{ "descripcion" | translate }}</th>
                  <td>{{ evento?.documentDescription }}</td>
                </tr>
                <tr>
                  <th>{{ "tipEvento" | translate }}</th>
                  <td>{{ evento?.eventType }}</td>
                </tr>
                <tr>
                  <th>{{ "fechaInicio" | translate }}</th>
                  <td>{{ evento?.eventStartDate | date: 'short' }}</td>
                </tr>
                <tr>
                  <th>{{ "fechaFin" | translate }}</th>
                  <td>{{ evento?.eventEndDate | date: 'short' }}</td>
                </tr>
                <tr>
                  <th>{{ "ubicacion" | translate }}</th>
                  <td>{{ evento?.eventLocation }}</td>
                </tr>
                <tr>
                  <th>{{ "lugar" | translate }}</th>
                  <td>{{ evento?.latwgs84 }}</td>
                </tr>
                <tr>
                  <th>{{ "precio" | translate }}</th>
                  <td>{{ evento?.lonwgs84 }}</td>
                </tr>
                <tr>
                  <th>{{ "duracion" | translate }}</th>
                  <td>{{ evento?.eventDuration }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
      
  
      <!-- Columna del mapa -->
      <div class="col-md-7">
        <div id="mapa" style="width: 100%; height: 88.5vh; border-style: solid;"></div>
      </div>
    </div>
  </div>
  