<body>
    <div class="page-container">
        <h1>Iniciar sesión</h1>
        <div class="login-container">
            <img [src]="'usuario.png'" alt="Login">
            <form>
                <div class="form-group">
                    <label for="username">Introduce tu usuario</label>
                    <input type="text" id="username" name="username" placeholder="Usuario" required [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password"> Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="Contrasena" required [(ngModel)]="password">
                </div>
                <button class="login-button" (click)="comprobarLogin()">Login</button>
            </form>
        </div>
    </div>
</body>