mat-card{
    margin-top: 20px;
    background-color: #303030;
    margin-bottom: 50px;
    color: aliceblue;
    box-shadow: 10px 15px 15px #8b8b8b;
}

#imagenes{
    max-height: 500px;
    max-width: 500px;
}
#card{
    min-height: 560px;
    max-width: 400px; 
}

.local-card {
    transition: transform 0.3s ease; /* Transición suave */
}

.local-card:hover {
    transform: scale(1.05); /* Aumenta el tamaño al 105% */
}


#texto{
    font-size: larger;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

