/* Sección principal */
.section-locales {
    background: linear-gradient(to right, #c5a3d2, #b7e0f0);
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    padding: 2rem 1rem;
}

/* Contenedor principal */
.container {
    display: flex;
    align-items: center;
    background: url('/../img_fondo_marco_local.jpg') no-repeat center center;
    background-size: cover;
    padding: 30px 20px;
    border: 1px solid #d4aaff;
    max-width: 1160px;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* Contenedor de las imágenes */
.image-container {
    position: relative;
    display: flex;
}

/* Estilos para las imágenes */
.image {
    width: 250px;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, filter 0.3s;
}

.image:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

/* Estilo para la imagen superpuesta */
.overlay {
    position: absolute;
    bottom: -40px;
    right: -50px;
    width: 180px;
    border: 2px solid #d4aaff;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.overlay:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
}

/* Estilos para el texto */
.text-container {
    margin-left: 40px;
    text-align: right;
}

.text-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    color: #d4aaff;
}

/* Icono */
.icon {
    font-size: 22px;
    display: flex;
    background-color: white;
    color: #7f7fd5;
    margin-left: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    border: 1px solid #d4aaff;
    text-align: center;
    justify-content: center;
}

/* Contenedor de la lista de eventos */
.container_list {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    gap: 0.5rem;
    flex-wrap: wrap;
}

/* Estilos de la barra lateral */
.sidebar-filtros {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    height: 325px;
    background: white;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sidebar-filtros h3 {
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.25rem;
}

.sidebar-filtros label {
    display: block;
    margin-bottom: 15px;
    color: #666;
}

.sidebar-filtros select {
    width: 100%;
    padding: 0.6rem;
    border-radius: 15px;
    border: 1px solid #df9ff7;
    font-size: 0.95rem;
}

/* Estilo de la lista de eventos */
.event-list {
    flex: 3;
    margin-left: 20px;
    min-width: 500px;
}

/* Estilos para la tarjeta de evento */
.event-card {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    /* Para que los botones de navegación se ubiquen correctamente */
}

/* Imagen del evento */
.event-card img {
    width: 250px;
    border-radius: 8px;
}

/* Contenido de la información del evento */
.event-info {
    flex: 1;
    margin-left: 15px;
}

/* Estilo para el botón de acceso */
button {
    background: teal;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Estilos para los botones de navegación (prev / next) */
.event-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botones de navegación imgs */
.prev-btn,
.next-btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    padding: 8px 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    /* Asegura que los botones estén encima de la imagen */
}

.prev-btn {
    left: 0px;
}

.next-btn {
    right: 0px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn:disabled,
.next-btn:disabled {
    visibility: hidden;
}

/* Título y botón de favorito */
.titulo-btnfavorito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.titulo-btnfavorito h2 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.favorite-btn,
.not-favorite-btn {
    color: white;
    border-radius: 50%;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.titulo-btnfavorito button:hover {
    background-color: #ff1f56;
}


.favorite-btn {
    background-color: #ff4081;
    color: white;
}

.not-favorite-btn {
    background-color: rgb(176, 175, 175);
    color: white;
}

.btn-accede {
    background: linear-gradient(45deg, #ae00ff, #ff2992);
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.btn-accede:hover {
    background: linear-gradient(135deg, #6c5ce7, #00cec9);
    transform: translateY(-2px);
}

/* PAGINACIÓN */
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    padding: 10px 10px;
    border-radius: 10px;
    border-top: 2px solid #ffffff;
}

.btnPaginacion {
    background: linear-gradient(to right, #ae00ff, #ff2992);
    color: white;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btnPaginacion:hover:not(:disabled) {
    background: linear-gradient(135deg, #6c5ce7, #00cec9);
    transform: scale(1.1);
}

.btnPaginacion:disabled {
    background: #dddddd;
    cursor: not-allowed;
    box-shadow: none;
}

.pagina-actual {
    font-size: 1.3rem;
    font-weight: bold;
    color: #0b010f;
}