<section class="main">
    <div class="container">
        <div class="image-container">
            <img src="img_discoteca.jpg" alt="alt_img_discoteca" class="image main">
            <img src="img_coctel.jpg" alt="alt_img_coctel" class="image overlay">
        </div>
        <div class="text-container">
            <h2>Los mejores <br> Locales</h2>
            <div class="icon">✦</div>
        </div>
    </div>

    <div class="content">
        <aside class="filters">
            <h3>Filtrar por tipo</h3>
            <button class="filter-btn">Coctelería</button>
            <button class="filter-btn">Discoteca</button>
        </aside>

        <div *ngFor="let local of locals | paginate: { itemsPerPage: 8, currentPage: page} ">
            <a (click)="selectLocal(local)">
              <app-l-tarjeta class="tarjeta" [local]=local></app-l-tarjeta>
            </a>
          </div>
               <!-- Paginación -->
    <pagination-controls (pageChange)="page = $event" class="d-flex justify-content-center"></pagination-controls>

    </div>        
</section>