<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav class="sidenav">
        <mat-toolbar class="menu">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-divider></mat-divider>
        </mat-toolbar>

        <mat-nav-list>
            <button mat-button routerLink="/home" (click)="sidenav.toggle()">
                <mat-icon>home</mat-icon> Inicio
            </button>
            <mat-divider></mat-divider>
            <button mat-button routerLink="/buscar" (click)="sidenav.toggle()">
                <mat-icon>search</mat-icon> Buscar
            </button>
            <mat-divider></mat-divider>
            <button mat-button routerLink="/eventos" (click)="sidenav.toggle()">
                <mat-icon>event</mat-icon> Eventos
            </button>
            <mat-divider></mat-divider>
            <button mat-button routerLink="/fiestas" (click)="sidenav.toggle()">
                <mat-icon>celebration</mat-icon> Fiestas
            </button>
            <mat-divider></mat-divider>

            <!-- Menú desplegable para Locales -->
            <div class="locales">
                <button mat-button routerLink="/locales">
                    <mat-icon>store</mat-icon>
                    Locales
                    <mat-icon (click)="toggleLocales()">{{ isLocalesOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
                </button>
                <mat-divider></mat-divider>

                <div class="sub-menu" [class.show]="isLocalesOpen">
                    <button mat-button routerLink="/bares" (click)="sidenav.toggle()">
                        <mat-icon>sports_bar</mat-icon> Bares
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-button routerLink="/coctelerias" (click)="sidenav.toggle()">
                        <mat-icon>local_bar</mat-icon> Coctelerías
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-button routerLink="/discotecas" (click)="sidenav.toggle()">
                        <mat-icon>nightlife</mat-icon> Discotecas
                    </button>
                    <mat-divider></mat-divider>
                </div>
            </div>


        </mat-nav-list>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content>
        <mat-toolbar class="principal">
            <!-- Botón de menú alineado a la izquierda -->
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <!-- Contenedor para logo y botones -->
            <div class="toolbar-right">
                <div class="logo-container" routerLink="/home">
                    <div class="logo-text">Festivity</div>
                    <img src="logo.png" alt="Logo" class="logo-img" />
                </div>

                <div class="botones">
                    <button mat-button routerLink="/login">
                        <mat-icon>login</mat-icon> Iniciar sesión
                    </button>

                    <div class="language-switcher">
                        <button mat-button class="dropdown-btn" (click)="toggleIdiomas()">
                            <mat-icon>language</mat-icon>
                            {{ "cambiarIdioma" | translate }}
                        </button>
                        <div class="dropdown-content" [class.show]="idiomasVisible">
                            <div class="language-option" (click)="translateText('es')">
                                <img src="banderas_idiomas/espanol.png" alt='{{ "español" | translate}}' class="flag" /> {{ "español" |
                                translate }}
                            </div>
                            <div class="language-option" (click)="translateText('eu')">
                                <img src="banderas_idiomas/euskera.png" alt='{{ "euskera" | translate}}' class="flag" /> {{ "euskera" |
                                translate }}
                            </div>
                            <div class="language-option" (click)="translateText('en')">
                                <img src="banderas_idiomas/ingles.png" alt='{{ "ingles" | translate}}' class="flag" /> {{ "ingles" |
                                translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-toolbar>


        <router-outlet></router-outlet>
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-content">
                    <p>&copy; 2025 Festivity. Todos los derechos reservados.</p>
                    <p><a href="#">Política de privacidad</a> | <a href="#">Términos y condiciones</a></p>
                    <div class="social-links">
                        <a href="mailto:soporte@festivity.com" target="_blank" class="social-icon">
                            <img src="logos_redes_sociales/email.png" alt="Gmail">
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="social-icon">
                            <img src="logos_redes_sociales/instagram.png" alt="Instagram">
                        </a>
                        <a href="https://x.com/?lang=en" target="_blank" class="social-icon">
                            <img src="logos_redes_sociales/twitter.png" alt="Twitter">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </mat-sidenav-content>

</mat-sidenav-container>