
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discotecas Populares</title>
</head>
<body>

    <header>
        <div class="logo">FESTIVITY</div>
        <input type="text" class="search" placeholder="Busca una ciudad, club, evento...">
        <nav>
            <a href="#">Publicar un evento</a>
            <a href="#">Guías </a>
            <a href="#">Iniciar sesión</a>
        </nav>
    </header>

    <section class="hero">
        <h1>Discotecas populares en España</h1>
        <p>Los clubs más famosos en España</p>
        <nav class="menu">
            <a href="#">Eventos</a>
            <a href="#">Bares</a>
            <a href="#">Restaurantes</a>
            <a href="#" class="active">Clubs</a>
            <a href="#">Artistas</a>
            <a href="#">Guía</a>
        </nav>
    </section>

    <section class="filters">
        <span>Filtrar por:</span>
        <button class="filter-btn">Fechas</button>
        <button class="filter-btn">Lugares</button>
        <button class="filter-btn active">Reggaeton</button>
        <button class="filter-btn">Ambientes</button>
        <button class="filter-btn">Instalaciones</button>
    </section>


    <h2 style="text-align: center; padding-top: 15px;" >Lista de Discotecas</h2>
    
  <div id="contenedor_card">
    
    <button class="btnPaginacion" mat-fab (click)="goToPreviousPage()" [disabled]="page <= 1">
        &lt; <!-- Flecha izquierda -->
    </button> 
    
    <div *ngFor="let local of locals  | paginate: { itemsPerPage: 3, currentPage: page }">
        <app-locales-tarjeta [local]=local></app-locales-tarjeta>
    </div>
       
    <button class="btnPaginacion" mat-fab (click)="goToNextPage()">
        &gt; <!-- Flecha derecha -->
    </button>
  </div>    
</body>
