<mat-card id="card" class="local-card" appearance="outlined" (click)="verDetalles(local.id)">
    <!-- Contenedor de la imagen y el contenido -->
    <div class="card-content-container">
        <!-- Contenedor de imágenes -->
        <div class="image-container">
            <img id="imagenes" *ngIf="local.multimedia.images.length" mat-card-image [src]="local.multimedia.images[currentImageIndex]"
                alt="{{ 'imagen' | translate }}">
            <!-- Botones para cambiar imágenes -->
            <div class="image-navigation">
                <button (click)="cambiarImagen(-1)" [disabled]="currentImageIndex === 0">Anterior</button>
                <button (click)="cambiarImagen(1)" [disabled]="currentImageIndex === local.multimedia.images.length - 1">Siguiente</button>
            </div>
        </div>

        <!-- Contenedor de texto -->
        <mat-card-content>
            <div class="titulo-btnfavorito">
                <h3><b>{{ local.basicData.name }}</b></h3>
            <button class="btnfavorito">
                <mat-icon>favorite</mat-icon>
            </button>
            </div>

            <p>{{ local.geoData.address }}</p>
            <span *ngFor="let c of local.extraData.categories; let i = index">
                {{ c.categoria }} <span *ngIf="i < local.extraData.categories.length - 1"> - </span>
            </span>
        </mat-card-content>
    </div>
</mat-card>
