mat-card {
    margin-top: 15px;
    margin-bottom: 50px;
    box-shadow: 10px 15px 15px #8b8b8b;
    width: 40%;
    overflow: hidden;
}

#imagenes {
    height: 100%; /* Ajustamos el tamaño de la imagen */
    width: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto sin distorsionar la imagen */
    margin-right: 20px; /* Separación entre imagen y texto */
    min-width: 40;
}

.card-content-container {
    display: flex;
    align-items: center;
}


.btnfavorito {
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 50%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnfavorito:hover {
    background-color: #ff1f1f;
}
.titulo-btnfavorito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}





