
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discotecas Populares</title>
</head>
<body>


    <section class="filters">
        <span>Filtrar por:</span>
        <button class="filter-btn" (click)="toggleDatePicker()">Fechas</button>
        <button class="filter-btn">Lugares</button>
        <button class="filter-btn active">Reggaeton</button>
        <button class="filter-btn">Ambientes</button>
        <button class="filter-btn">Instalaciones</button>
    </section>
    
    <section class="date-picker" *ngIf="showDatePicker">
        <input type="date" [min]="minDate" (change)="onDateSelect($event)" />
    </section>
    

    <section class="eventos-container">
        <div *ngFor="let evento of proximosEventos" class="imagenEvento">
          <h2>{{ evento.documentName }}</h2>
          
          <a [routerLink]="['/evento', evento.documentName]">
            <img [src]="evento.eventImageUrl || 'img_default.jpg'" alt="{{ evento.documentName }}">
          </a>
        </div>
      </section>
      

    <section class="map">
        <!-- Aquí podrías insertar un mapa interactivo -->
        <p>Mapa aquí...</p>
    </section>

    <h2 style="text-align: center; padding-top: 15px;" >Lista de Discotecas</h2>
    
    <div id="contenedor_card">
      
      <button class="btnPaginacion" mat-fab (click)="goToPreviousPage()" [disabled]="page <= 1">
          &lt; <!-- Flecha izquierda -->
      </button> 
      
      <div *ngFor="let local of locals  | paginate: { itemsPerPage: 3, currentPage: page }">
          <app-locales-tarjeta [local]=local></app-locales-tarjeta>
      </div>
         
      <button class="btnPaginacion" mat-fab (click)="goToNextPage()">
          &gt; <!-- Flecha derecha -->
      </button>
    </div>    
</body>
