
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discotecas Populares</title>
</head>
<body>


    <section class="filters">
        <span>Filtrar por:</span>
        <button class="filter-btn" (click)="toggleDatePicker()">Fechas</button>
        <button class="filter-btn">Lugares</button>
        <button class="filter-btn active">Reggaeton</button>
        <button class="filter-btn">Ambientes</button>
        <button class="filter-btn">Instalaciones</button>
    </section>
    
    <section class="date-picker" *ngIf="showDatePicker">
        <input type="date" [min]="minDate" (change)="onDateSelect($event)" />
    </section>
    

    <section class="eventos-container">
        <div *ngFor="let evento of proximosEventos" class="imagenEvento">
          <h2>{{ evento.documentName }}</h2>
          
          <a [routerLink]="['/evento', evento.documentName]">
            <img [src]="evento.eventImageUrl || 'img_default.jpg'" alt="{{ evento.documentName }}">
          </a>
        </div>
      </section>
      

    <section class="map">
        <!-- Aquí podrías insertar un mapa interactivo -->
        <p>Mapa aquí...</p>
    </section>

    <section class="local-list">
        <h2>Lista de Discotecas</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Horario</th>
                    <th>Web</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let local of locals">
                    <td>{{ local.basicData.name }}</td>
                    <td>{{ local.geoData.address }}</td>
                    <td>{{ local.basicData.phone }}</td>
                    <td [innerHTML]="local.extraData.schedule"></td>
                    <td><a [href]="local.basicData.web" target="_blank">Visitar</a></td>
                    <td>
                        <img *ngIf="local.multimedia.images.length" [src]="local.multimedia.images[0]" alt="Imagen" width="100">
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    

</body>
