<!-- Contenedor de búsqueda -->
<section class="search-container">
  <label for="search-input" class="search-label">Buscar Locales</label>
  <div class="search-input">
    <input
      id="search-input"
      type="text"
      [(ngModel)]="searchQuery"
      (input)="buscarLocales()"
      placeholder="Nombre, dirección o categoría"
      class="custom-input"
    />
    <button class="search-button" (click)="buscarLocales()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</section>

<!-- Resultados de búsqueda -->
<h2 *ngIf="searchQuery && filteredLocals.length === 0" class="no-results">
  {{ "noLocales" | translate }}
</h2>

<div class="container-card" *ngIf="filteredLocals.length > 0">
  <div *ngFor="let local of filteredLocals | paginate: { itemsPerPage: 3, currentPage: page }">
    <a (click)="selectLocal(local)">
      <app-locales-tarjeta [local]="local"></app-locales-tarjeta>
    </a>
  </div>
</div>

<!-- Paginación -->
<div class="paginacion" *ngIf="filteredLocals.length > 3">
  <button class="btnPaginacion" mat-fab (click)="goToPreviousPage()" [disabled]="page <= 1">
    <mat-icon>navigate_before</mat-icon>
  </button>
  
  <span class="pagina-actual">Página {{ page }}</span>
  
  <button class="btnPaginacion" mat-fab (click)="goToNextPage()" [disabled]="(page * 3) >= filteredLocals.length">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
