
<header>
    <div class="logo">
        <img [src]="'logo.png'" alt="Logo" class="logo" />
    </div>
    <input type="text" class="search" placeholder='{{ "buscaCiudad" | translate }}'>
    <nav>
        <button routerLink="/publicarEvento" routerLinkActive="active">{{ "publicarEvento" | translate }}</button>
       
        <div class="language-switcher">
            <button class="dropdown-btn" (click)="toggleDropdown()">
                {{ "cambiarIdioma" | translate }}
            </button>
            <div class="dropdown-content" [class.show]="dropdownVisible">
                <div class="language-option" (click)="translateText('es')">
                    <img src="espanol.png" alt='{{ "español" | translate}}' class="flag" /> {{ "español" | translate }}
                </div>
                <div class="language-option" (click)="translateText('eu')">
                    <img src="euskera.png" alt='{{ "euskera" | translate}}' class="flag" /> {{ "euskera" | translate }}
                </div>
                <div class="language-option" (click)="translateText('en')">
                    <img src="ingles.png" alt='{{ "ingles" | translate}}' class="flag" /> {{ "ingles" | translate }}
                </div>
            </div>
        </div>
        
        
        
        <a routerLink="/login" routerLinkActive="active">{{"inicioSesion" | translate}}</a>
        

    </nav>
</header>

<section class="hero">
    <h1>{{ "discotecas" | translate }}</h1>
    <p>{{"clubsFamosos" | translate }}</p>
    <nav class="menu">
        <a href="#">{{"eventos" | translate }}</a>
        <a href="#">{{"bares" | translate }}</a>
        <a href="#" class="active">{{"clubs" | translate }}</a>
        <a href="#">{{"artistas" | translate }}</a>
    </nav>
</section>

