
<header>
    <div class="logo">Mundu berria</div>
    <input type="text" class="search" placeholder="Busca una ciudad, club, evento...">
    <nav>
        <a routerLink="/publicarEvento" routerLinkActive="active">Publicar un evento</a>

       <a routerLink="/login" routerLinkActive="active">Guias</a>

        <a routerLink="/login" routerLinkActive="active">Iniciar sesión</a>

    </nav>
</header>

<section class="hero">
    <h1>Discotecas populares en España</h1>
    <p>Los clubs más famosos en España</p>
    <nav class="menu">
        <a href="#">Eventos</a>
        <a href="#">Bares</a>
        <a href="#">Restaurantes</a>
        <a href="#" class="active">Clubs</a>
        <a href="#">Artistas</a>
        <a href="#">Guía</a>
    </nav>
</section>

