<mat-card id="card" class="local-card" appearance="outlined" (click)="verDetalles(evento.documentName)">
  <img id="imagenes" mat-card-image [src]="evento.eventImageUrl || randomDefaultImage" alt="{{'Imagen' | translate }}">

  <mat-card-content>
    <br>
    <h3><b>{{ evento.documentName }}</b></h3>
    <hr>
    <br>
    <p *ngIf="evento.eventStartDate?.length || evento.eventEndDate?.length">
      Duración del Evento
      <br>
      {{ evento.eventStartDate }} - {{ evento.eventEndDate }}
    </p>
  </mat-card-content>

</mat-card>
