<body>
  <div class="container">
    <div class="image-container">
      <img src="img_discoteca.jpg" alt="alt_img_discoteca" class="image main">
      <img src="img_coctel.jpg" alt="alt_img_coctel" class="image overlay">
    </div>
    <div class="text-container">
      <h2>Los mejores <br>Locales de barcelona</h2>
      <div class="icon">✦</div>
    </div>
  </div>

  <div class="content">
    <!-- Filtros -->
    <aside class="filters">
      <h3>Filtrar por tipo</h3>
      <button class="filter-btn" (click)="filterByCategory('cocteleria')">Coctelería</button>
      <button class="filter-btn" (click)="filterByCategory('discoteca')">Discoteca</button>
    </aside>

    <!-- Sección de locales -->
 
  </div>
</body>
